* {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/bg-main-desktop.png) no-repeat;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardImg {
    width: 50%;
    color: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.cardRecto {
    width: 447px;
    height: 245px;
    margin: auto;
    margin-bottom: 30px;
    background: url(images/bg-card-front.png) no-repeat center;
    position: relative;
    right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 20px; */
}

.cardRecto div:not(.monthYear) {
    padding: 40px;
    overflow: hidden;
}

.cercles {
    display: flex;
    align-items: center;
}

.cercles span {
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.cercles span#petitCercle {
    height: 15px;
    width: 15px;
    background: none;
    margin-left: 15px;
}

.cardInfos {
    display: flex;
    justify-content: space-between;
    color: rgb(190, 190, 190);
}

.monthYear {
    display: flex;
}

.numCardRecto {
    font-size: 1.8rem;
    position: relative;
    top: 15px;
    letter-spacing: 0.3rem;
}

.cardVerso {
    background: url(images/bg-card-back.png) no-repeat center;
    width: 447px;
    height: 245px;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    letter-spacing: 6px;
}

.cardVerso p {
    margin-right: 45px;
}


/* .form {
    width: auto;
} */

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 10px;
}

input {
    width: 6rem;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
}

.inputsDate {
    display: flex;
}

input[type="text"] {
    margin-top: 6px;
    
}


label[for="cvc"] {
    margin: 0;
}

.inputNameNumber {
    width: 96%;
}

div.expiration {
    margin-right: 15px;
}

.cvc {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(34,9,47);
    color: whitesmoke;
    cursor: pointer;
}

.error {
    color: crimson;
    font-weight: bold;
}

/* ---- div succes ---------------------------------- */

.succes {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i {
    color: green;
    margin: 20px 0;
}

.succes button {
    width: 50%;
}


